<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key> com.apple.dmd.emergency-mode </key>
	<true/>
	<key>com.apple.Contacts.database-allow </key>
	<true/>
	<key>com.apple.FaceTime.NoPrompt</key>
	<true/>
	<key>com.apple.ScreenTimeAgent</key>
	<true/>
	<key>com.apple.accounts.inactive.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.iChat</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
    <key>com.apple.security.exception.mach-register.global-name</key>
    <array>
        <string>com.ericrabil.imessage-rest</string>
        <string>com.apple.ericrabil.imessage-rest</string>
    </array>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string></string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.dmd.policy</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.payment.winterpeg</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.aps-client-cert-access</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.contactsui</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.dmd.emergency-mode</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.dprivacyd.allow</key>
	<true/>
	<key>com.apple.private.iaaccounts</key>
	<true/>
	<key>com.apple.private.ids.identityservicesd</key>
	<true/>
	<key>com.apple.private.ids.idquery-cache</key>
	<true/>
	<key>com.apple.private.ids.idsquery</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.madrid</string>
		<string>com.apple.private.alloy.biz</string>
	</array>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.launchservices.changedefaulthandlers</key>
	<array>
		<string>im</string>
		<string>Messages</string>
		<string>iChat</string>
		<string>imessage</string>
	</array>
	<key>com.apple.private.launchservices.changeurlschemehandler</key>
	<true/>
	<key>com.apple.private.remindd</key>
	<array>
		<string>peopleInteraction</string>
		<string>store</string>
	</array>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.screensharing.screenControl</key>
	<true/>
	<key>com.apple.private.security.storage.Messages</key>
	<true/>
	<key>com.apple.private.suggestions</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.suggestions.messages</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyDownloadsFolder</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceMicrophone</string>
	</array>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<false/>
	<key>com.apple.security.assets.pictures.read-only</key>
	<true/>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>com.apple.security.device.microphone</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.personal-information.location</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/AppleInternal/Library/Messages/iMessageEffects/</string>
		<string>/Library/Preferences/com.apple.Bluetooth.plist</string>
		<string>/Library/Preferences/com.apple.RemoteManagement.plist/</string>
		<string>/AppleInternal/Library/Monaco/Environments.plist</string>
		<string>/Library/Preferences/com.apple.applepushserviced.plist</string>
		<string>/Library/User Pictures/</string>
		<string>/usr/local/bin/imtool</string>
		<string>/usr/local/bin/idstool</string>
		<string>/Applications/Messages.app/Contents/PlugIns</string>
		<string>/AppleInternal/XCTests/com.apple.messages/MessagesTestRunner.app/Contents/Frameworks</string>
		<string>/AppleInternal/XCTests/com.apple.messages/</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Logs/CrashReporter/Messages/</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Application Support/AddressBook/</string>
		<string>/Library/Messages/</string>
		<string>/Desktop/</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.dmd.emergency-mode</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.dmd.policy</string>
		<string>com.apple.ScreenTimeAgent</string>
		<string>com.apple.contacts.donation.agent</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.nfcd.hwmanager</string>
		<string>com.apple.passd.payment-continuity</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.corerecents.recentsd</string>
		<string>com.apple.bluetoothd</string>
		<string>com.apple.suggestd.contacts</string>
		<string>com.apple.dprivacyd</string>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.suggestd.suggestionmanager</string>
		<string>com.apple.marco</string>
		<string>com.apple.imagent.desktop.auth</string>
		<string>com.apple.imagent.desktop.Launched</string>
		<string>com.apple.identityservicesd.desktop.auth</string>
		<string>com.apple.ScreenTimeAgent.private</string>
		<string>com.apple.identityservicesd.idquery.desktop.auth</string>
		<string>com.apple.dockling.server</string>
		<string>com.apple.soagent</string>
		<string>com.apple.corerecents.recentsd</string>
		<string>com.apple.duetknowledged.activity</string>
		<string>com.apple.coreduetd.people</string>
		<string>com.apple.screensharing.MessagesAgent</string>
		<string>com.apple.logind</string>
		<string>com.apple.icloud.fmfd</string>
		<string>com.apple.coreservices.lsuseractivitymanager.xpc</string>
		<string>com.apple.photos.service</string>
		<string>com.apple.screensharing.ShareScreenInvitation</string>
		<string>com.apple.spotlight.IndexAgent</string>
		<string>com.apple.siri.vocabularyupdates</string>
		<string>com.apple.storeaccountd</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.conversationmanager</string>
		<string>com.apple.remindd</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.ScreenTimeAgent</string>
		<string>com.apple.logging</string>
		<string>com.apple.monaco</string>
		<string>com.apple.universalaccess</string>
		<string>com.apple.assistant.support</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.EmojiPreferences</string>
		<string>com.apple.iChat</string>
		<string>com.apple.imessage.bag</string>
		<string>com.apple.facetime.bag</string>
		<string>com.apple.digihub</string>
		<string>com.apple.ids</string>
		<string>com.apple.id-status</string>
		<string>com.apple.MessagesHistoryImporter</string>
		<string>com.apple.madrid</string>
		<string>com.apple.iChat.inputLine</string>
	</array>
	<key>com.apple.system.get-alert-tone</key>
	<true/>
	<key>com.apple.system.set-alert-tone</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
    <key>com.apple.security.get-task-allow</key>
    <true/>
    <key>get-task-allow</key>
    <true/>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>com.apple.private.skip-library-validation</key>
    <true/>
</dict>
</plist>
