.DS_Store
xcuserdata/
DRM
build/
ios_build
macos_build
macos_staging
archive
imessage-rest-ios/layout/Applications
SourcePackages
*.xcodeproj
Beeper/barcelona-mautrix/Info.plist
.build
Package.resolved
