<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.accounts.inactive.fullaccess</key>
	<true/>
	<key>com.apple.dmd.emergency-mode </key>
	<true/>
	<key>com.apple.dmd.policy</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.aps-client-cert-access</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.private.dmd.emergency-mode</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.ids.identityservicesd</key>
	<true/>
	<key>com.apple.private.ids.idquery-cache</key>
	<true/>
	<key>com.apple.private.ids.idsquery</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.madrid</string>
		<string>com.apple.private.alloy.biz</string>
	</array>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.storage.Messages</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<false/>
	<key>com.apple.security.get-task-allow</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/Library/Preferences/com.apple.applepushserviced.plist</string>
		<string>/usr/local/bin/imtool</string>
		<string>/usr/local/bin/idstool</string>
		<string>/Applications/Messages.app/Contents/PlugIns</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Logs/CrashReporter/Messages/</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.dmd.policy</string>
		<string>com.apple.dmd.emergency-mode</string>
		<string>com.apple.marco</string>
		<string>com.apple.imagent.desktop.auth</string>
		<string>com.apple.imagent.desktop.Launched</string>
		<string>com.apple.identityservicesd.desktop.auth</string>
		<string>com.apple.identityservicesd.idquery.desktop.auth</string>
		<string>com.apple.logind</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.logging</string>
		<string>com.apple.monaco</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.EmojiPreferences</string>
		<string>com.apple.iChat</string>
		<string>com.apple.imessage.bag</string>
		<string>com.apple.facetime.bag</string>
		<string>com.apple.digihub</string>
		<string>com.apple.ids</string>
		<string>com.apple.id-status</string>
		<string>com.apple.MessagesHistoryImporter</string>
		<string>com.apple.madrid</string>
		<string>com.apple.iChat.inputLine</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>platform-application</key>
	<true/>
    <key>com.apple.application-identifier</key>
    <string>com.apple.imagent</string>
    <key>com.apple.private.tcc.allow</key>
    <array>
        <string>kTCCServiceAddressBook</string>
        <string>kTCCServicePhotosAdd </string>
        <string>kTCCServicePhotos</string>
        <string>kTCCServiceMediaLibrary</string>
        <string>kTCCServiceMicrophone</string>
        <string>kTCCServiceCamera</string>
    </array>
    <key>com.apple.private.screen-time</key>
    <true/>
</dict>
</plist>
