<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D5AEE0024E375D300303692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D5AEE1224E375D700303692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D5AEE1D24E375D700303692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
